.register {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    width: 860px;
    padding: 100px 0px;
    gap: 120px;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      flex: 1;

      label {
        color: #191443;
        font-size: 1.3rem;
      }

      input,
      textarea {
        border-radius: 5px;
        padding: 1rem;
        border: 1px solid black;
      }

      .join-btn {
        background-color: #191443;
        color: white;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: .3s ease-in-out;
        border: 1px solid #191443;

        &:hover {
            background-color: black;
        }
      }

      .toggle {
        display: flex;
        align-items: center;
        gap: 10px;

        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 24px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
}
